.studentLogin{
     text-align: center;
    border-style: solid;
    margin-left: 35%;
    margin-right:35%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.studentLoginH3 {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.studentLoginButton{
    background-color:rgb(242, 245, 242);
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.studentLoginButton:hover {
    background-color: rgb(186, 231, 186);
}